WcfServiceLibraryDemo/Client/Connected Services/EvalServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="EvalService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/EvalServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEvalService_SubmitEval_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitEval" />
  </wsdl:message>
  <wsdl:message name="IEvalService_SubmitEval_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitEvalResponse" />
  </wsdl:message>
  <wsdl:message name="IEvalService_UpdateEval_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEval" />
  </wsdl:message>
  <wsdl:message name="IEvalService_UpdateEval_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEvalResponse" />
  </wsdl:message>
  <wsdl:message name="IEvalService_DeleteEval_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEval" />
  </wsdl:message>
  <wsdl:message name="IEvalService_DeleteEval_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEvalResponse" />
  </wsdl:message>
  <wsdl:message name="IEvalService_GetEvals_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEvals" />
  </wsdl:message>
  <wsdl:message name="IEvalService_GetEvals_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEvalsResponse" />
  </wsdl:message>
  <wsdl:portType name="IEvalService">
    <wsdl:operation name="SubmitEval">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvalService/SubmitEval" message="tns:IEvalService_SubmitEval_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvalService/SubmitEvalResponse" message="tns:IEvalService_SubmitEval_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEval">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvalService/UpdateEval" message="tns:IEvalService_UpdateEval_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvalService/UpdateEvalResponse" message="tns:IEvalService_UpdateEval_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEval">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvalService/DeleteEval" message="tns:IEvalService_DeleteEval_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvalService/DeleteEvalResponse" message="tns:IEvalService_DeleteEval_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEvals">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvalService/GetEvals" message="tns:IEvalService_GetEvals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvalService/GetEvalsResponse" message="tns:IEvalService_GetEvals_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEvalService" type="tns:IEvalService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitEval">
      <soap:operation soapAction="http://tempuri.org/IEvalService/SubmitEval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEval">
      <soap:operation soapAction="http://tempuri.org/IEvalService/UpdateEval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEval">
      <soap:operation soapAction="http://tempuri.org/IEvalService/DeleteEval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEvals">
      <soap:operation soapAction="http://tempuri.org/IEvalService/GetEvals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EvalService">
    <wsdl:port name="BasicHttpBinding_IEvalService" binding="tns:BasicHttpBinding_IEvalService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/EvalService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>